@import url(https://fonts.googleapis.com/css?family=Lexend+Zetta&display=swap');
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


html{
    height: 100%
}
body{
    margin: 0;
    background-color: #e6ffe6;
    min-width: 400px;
    width: 100%;
}
#header {
    background-color: #1abc9c;
    height: 70px;
    line-height: 70px;
}
#header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
#header a:hover {
    color: #222;
}
#header-title {
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
}
#header-nav {
    display: block;
    float: right;
    margin-top: 0;
    margin-right: 20px;
}
#header-nav li {
    display: inline;
    padding-left: 20px;
    margin-top: 0;
    font-size: 18px;
}
h1 {
    color: rgb(34, 52, 43);
    letter-spacing: 0.25em;
    font-size: 34px;
    font-weight: 400;
    font-family: 'Lexend Zetta', sans-serif;
    margin: 40px 0;
}
.container1 {
    margin: 50px auto;
    width: 62%;
    max-width: 480px;
    min-width: 400px;
    height: 450px;
    padding: 10px;
    background-color: #1abc9c;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgba(68, 137, 129, 0.51);
}
.container2 {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    padding: 1px;
    background-color: rgba(135, 205, 170, 0.9);
    opacity: 0;
}
.inpel {
    font-size: 18px;
    width: 100%;
    max-width: 380px;
    height: 30px;
    padding: 2px;
    margin: 10px auto;
    opacity: 0.8;
}
.inpel:hover {
    opacity: 1;
}
.button {
    letter-spacing: 0.2em;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    height: 45px;
    width: 390px;
    padding: 0px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

#loginButton {
    background-image: linear-gradient(to right, #e03518, #de0172);
    opacity: 0.8;
}

#signUpButton {
    margin-top: 20px;
    background-color: #none;
    color: black;
    opacity: 0.9;
}

#signUpButton:hover {
    opacity: 1;
}
#loginButton:hover {
    opacity: 1;
}
#chb {
    letter-spacing: 0.01em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    display: inline-flex;
}

#fgp {
    letter-spacing: 0.01em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;.
    text-align: right;
    display: inline-flex;
}
.rmbfp {
    
}
.footer {
    background-color: #1abc9c;
    padding: 1px;
    text-transform: uppercase;
    line-height: 2px;
}
h3 {
    color: white;
    letter-spacing: 0.12em;
    font-size: 12px;
    text-align: center;
    padding: 1px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
    color: #black;
}
