* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    min-height: 45rem;
    background-color: rgb(240, 240, 240);
    font-family: 'Gayathri', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    min-height: 3.5rem;
    height: 6vh;
    width: 100vw;
    box-shadow: 0 5px 10px rgba(83, 83, 83, 0.25);
}

.logo-text {
    margin-top: 2vh;
    width: 90%;
    padding-left: 7%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar {
    padding-right: 2vw;
    width: 12%;
}

.burger {
    margin-top: 2.4vh;
}

.line {
    margin-top: 0.35rem;
    transform: translateX(-50%);
    background-color: rgb(32, 32, 32);
    width: 30px;
    height: 3px;
    border-radius: 2px;
}


/* ////MAIN PANEL ELEMENT  //// */
.ctr {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 90vw;
    max-width: 35rem;
    min-height: 12rem;
    transform: translate(-50%, -50%);
    background-color: white;
}

.imgIcon {
    /* background-color: rgb(255, 33, 33); */
    margin-top: 2vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 8vh;
}

.mainImg {
    margin-left: 50%;
    width: 8vh;
    max-height: 12rem;
    min-height: 5rem;
    min-width: 5rem;
    transform: translateX(-50%);

}



/*//// SIGN UP PANEL //////*/
.logInPanel h1, .signUpPanel h1, .loggedInPanel h1 {
    margin: 2% 0;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.4;
}

.signUpPanel h1 {
    line-height: 1.2;
    margin-top: 3vh;

}

.loggedInPanel h1{
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    line-height: 1.2; 
}



/* ///Panels Settings/// */
.logInPanel, .signUpPanel, .loggedInPanel {
    background-color: #fff;
    padding: 0.6rem;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    flex-direction: column;
    left: 50%;
    box-shadow: 0 5px 10px rgba(83, 83, 83, 0.25);
}

.loggedInPanel {
    top: 60%;
    padding-top: 6vh;
    min-height: 35rem;
    display: none;   
}

.logInPanel {
    top: 60%;
    line-height: 4vh;
    display: flex;
}

.signUpPanel {
    top: 70%;
    line-height: 2.5vh;
    display: none;
}

.logInPanel input {
    border: 1px solid lightgray;
    width: 100%;
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: .1em;
}

.logInPanel p {
    margin-top: 4vh;
    margin-left: 2%;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .06em;
}

.logInPanel input:focus {
   border: 2px solid rgba(0, 179, 0, 0.699);
   outline: none;
}

p {
    line-height: 1.2;
}



/*/// inputFields for SignUp Panel/// */
.signUpPanel input {
    border: 1px solid lightgray;
    width: 100%;
    padding: 6px 10px;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.signUpPanel p {
    margin-left: 2%;
    font-weight: 600;
    letter-spacing: .06em;
    font-size: 0.8rem;
    margin-top: 1.6vh;
}

.signUpPanel input:focus {
   border: 2px solid rgba(0, 179, 0, 0.699);
   outline: none;

}

/* loggED IN PANEL //  */
.loggedInPanel ul {
    margin-top: 4vh;
    padding-left: 4vw;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}


/* // Buttons //// */
.btn-container {
    display: flex;
}

.btn {
    margin: 12% auto;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transform: scaleY(1.1);
}

.main {
    width: 60%;
    background-color: #4CAF50;
    border: none;
    color: white;
    letter-spacing: 0.5em;
}

.main:hover {
    background-color: #18641c;
}

.signUp {
    width: 35%;
    border: 2px solid #4CAF50;
    color: #2b662d;
    letter-spacing: 0.2em;

}

.signUp:hover {
    background-color: #27a83065;
    color: #2b662d;
}

.submitBtn {
    width: 75%;
    padding: 0.8rem;
}


/* ////// FOOTER ///// */
footer {
    position: absolute;
    top: 100%;
    padding: 10px;
    background-color: white;
    width: 100%;
    /* height: 8vh; */
    transform: translateY(-100%);
    text-align: center;
    color: rgb(32, 32, 32);
    box-shadow: 0px -5px 10px 0px rgba(83,83,83,0.25);
    /* -webkit-box-shadow: 0px -5px 10px 0px rgba(83,83,83,0.25);
    -moz-box-shadow: 0px -5px 10px 0px rgba(83,83,83,0.25); */
}

footer p {
    font-size: 0.8rem;
    line-height: 1.5;
}